body {
    background-color: #bbb;
    font-family: 'Trebuchet MS', sans-serif;
}
h1 {
    font-size: 200%;
    font-style: italic;
}
h2 {
    font-size: 175%;
    text-decoration: underline;
}
h3, p {
    font-size: 150%;
}